<footer>
    <hr style="margin-left: 15px; color: #000 !important; background-color: #000 !important; opacity: 1 !important; width: 40px; height: .5px !important; margin-bottom: 1rem !important;">
    <div class="row m-0">
        <div class="col-12 col-md-4 col-sm-3 mb-4 mb-sm-0">
            <p class="footer-text">
                <a href="https://github.com/donghoon-io/donghoon-io.github.io" style="font-weight: 300">Built based on Donghoon's theme</a><br>
                Up-to-date as of <span id="date">loading...</span>
            </p>
            <p class="footer-text">
                <i class="fas fa-location-dot pr-3"></i> 
                <span class="ms-1">Columbus is </span>
                <img style="width: auto; height: 23px;" id="weather_icon">
                <span id="weather">Loading...</span>
                <br>
                Local Time: <span id="local_time">Loading...</span>
            </p>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="{{ '/assets/js/weather.js' | relative_url }}"></script>
<script src="{{ '/assets/js/github_date.js' | relative_url }}"></script>

<script>
    // Function to update local time
    function updateLocalTime() {
        var localTimeElement = document.getElementById('local_time');
        if (localTimeElement) {
            localTimeElement.textContent = moment().format('MMMM D, YYYY HH:mm:ss');
        }
    }

    // Update local time initially
    updateLocalTime();

    // Update local time every second
    setInterval(updateLocalTime, 1000);
</script>
